.about-header {
    position: absolute;
    left: 0px;
    margin-left: 10px;
    margin-top: 10px;
}

header a {
    color: blanchedalmond;
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    text-decoration: none;
    font-weight: 600;
    font-size: 20px;
    margin-left: 10px;
}

.about-body {
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    min-height: 100vh;
    flex-direction: column;
    padding: 10px;
}

h1 {
    color: blanchedalmond;
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}

p {
    color: blanchedalmond;
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    white-space: inherit;
}

span {
    color: #fd4500;
    font-weight: bolder;
}

p a {
    color: blanchedalmond;
}

::-webkit-scrollbar {
    width: 5px;
    height: 5px;
}

::-webkit-scrollbar-track {
    margin-block: .3em;
}

::-webkit-scrollbar-thumb {
    background-color: #fd4500;
    border-radius: 100vw;
}